#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

plan
plan.out
tfplan

kubeconfig*

config-map-aws-auth_test-eks-cluster.yaml

# secret files
docker_env.list

# vim
*.swp
